<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar coleta</title>
</head>
<body>
    {% if object_list %}
        <ul>
            {% for coleta in object_list %}
                <li>
                    {{ coleta.id }} - {{ coleta.quantidade }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há coletas cadastrados.</p>
    {% endif %}

</body>
</html>