{% extends "base.html" %}

{% block titulo %}
Listar produtos
{% endblock %}

{% block titulo_pagina %}
Coletas
{% endblock %}

{% block conteudo %}

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if coletas %}
    <ul>
        {% for coleta in coletas %}
            <li>
                <strong>{{coleta.id}}: {{ coleta.quantidade }} - {{ coleta.criacao }}</strong>
                <a href="{% url 'coleta:detalhes' pk=coleta.id %}" style="text-decoration:none">
                    <i class="fas fa-search" style="color:blue"></i>
                </a>
                <a href="{% url 'celeta:editar_uv' pk=coleta.id %}" style="text-decoration:none">
                    <i class="fas fa-pencil" style="color:green"></i>
                </a>
                <a href="{% url 'coleta:deletar' pk=coleta.id %}" style="text-decoration:none">
                    <i class="fas fa-trash" style="color:red"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Não há coletas cadastradas.</p>
    {% endif %}
{% endblock %}